@charset "UTF-8";
/* CSS Document */

h3 {
    display: none;
}

#image-list {
    margin: 0;
    padding: 0;
    width: 100%;
}

#header {
    background: #f8f8f8 url('http://www.aformulaonehistory.com/img/af1historylogo-01.png') no-repeat center center;
    height: 175px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 9;
}

#social_icons {
    margin-top: 133px;
    margin-left: 30px;
    float: left;
    font-size: 23px;
}

#social_icons a {
    text-decoration: none;
    color: #ccc;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

#chrome {
    margin-top: 145px;
    margin-right: 30px;
    float: right;
    font-family: "brandon-grotesque";
    font-size: 11px;
    color: #ccc;
}

#facebook {
    margin-right: 5px;
}

#facebook:hover {
    color: #7086b2;
}

#twitter:hover {
    color: #43adcc;
}

#about {
    left: 30px;
    bottom: 30px;
    float: left;
    position: fixed;
    font-family: "brandon-grotesque";
    font-weight: 500;
    font-size: 10px;
    line-height: 60px;
    letter-spacing: .5px;
    text-align: center;
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    z-index: 200;
    opacity: 0.4;
    text-decoration: none;
    color: #111;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

#top {
    display: none;
    left: 30px;
    top: 30px;
    float: left;
    position: fixed;
    font-family: "brandon-grotesque";
    font-weight: 500;
    font-size: 10px;
    line-height: 60px;
    letter-spacing: .5px;
    text-align: center;
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    z-index: 200;
    opacity: 0.4;
    text-decoration: none;
    color: #111;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

#about:hover {
    opacity: 0.8;
}

#top:hover {
    opacity: 0.8;
}

#footer {
    background-color: #f8f8f8;
    height: 60px;
    width: 100%;
    padding: 10px 0;
    font-family: "brandon-grotesque";
    font-weight: 400;
    letter-spacing: .5px;
}

#footer_content {
    padding-top: 24px;
    max-width: 800px;
    margin: auto;
}

#social {
    float: left;
    width: 200px;
    font-size: 14px;
    color: #C33;
}

#thanks {
    float: right;
    font-size: 12px;
    color: #aaa;
}

#social a {
    font-family: "brandon-grotesque";
    font-weight: 400;
    font-size: 14px;
    color: #c33;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

#social a:hover {
    color: #999;
}

#thanks a {
    font-family: "brandon-grotesque";
    font-weight: 400;
    font-size: 12px;
    color: #999;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

#thanks a:hover {
    color: #C33;
}

.trattino {
    border: none;
    border-bottom: 4px solid white;
    width: 50px;
    margin: 0 auto;
}

.trattino_nero {
    border: none;
    border-bottom: 4px solid black;
    width: 50px;
    margin: 0 auto;
}

.year {
    font-family: "brandon-grotesque";
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px;
    margin-right: -10px;
    color: #FFF;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.car_text {
    width: 100%;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 110px;
    left: 0;
    position: absolute;
}

.model {
    font-family: "franklin-gothic-ext-comp-urw";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    padding-bottom: 10px;
    color: #FFF;
}

.line {
    border: none;
    border-bottom: 1px solid white;
    width: 250px;
    margin: 0 auto;
}

.driver {
    font-family: "franklin-gothic-ext-comp-urw";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 6px;
    padding-top: 10px;
    color: #FFF;
}

#description {
    text-align: center;
    background-color: #444444;
    overflow: hidden;
}

#description h1 {
    font-family: "franklin-gothic-ext-comp-urw";
    letter-spacing: 5px;
    font-size: 50px;
    padding-top: 170px;
    margin-bottom: 50px;
}

#description h2 {
    font-family: "brandon-grotesque";
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 170px;
}

#description p {
    width: 50%;
    font-family: "brandon-grotesque";
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}

#description a {
    font-family: "brandon-grotesque";
    font-weight: 400;
    font-size: 13px;
    color: #999;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

#description a:hover {
    color: #FFF;
}

#matra_ms80 {
    background: url('../img/cars/matra_ms80.jpg');
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

#lotus_49b {
    background: url('../img/cars/lotus_49b.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#brabham_bt24 {
    background: url('../img/cars/brabham_bt24.jpg') no-repeat center center;
    background-size: contain;
    border-bottom: 3px dashed #1b2618;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#brabham_bt19 {
    background: url('../img/cars/brabham_bt19.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#lotus_33 {
    background: url('../img/cars/lotus_33.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#ferrari_158 {
    background: url('../img/cars/ferrari_158_f1.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#lotus_25 {
    background: url('../img/cars/lotus_25.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#brm_p57 {
    background: url('../img/cars/brm_p57.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#ferrari_156 {
    background: url('../img/cars/ferrari_156_f1.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#cooper_t53 {
    background: url('../img/cars/cooper_t53.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
    border-bottom: 3px dashed #171e1b;
}

#cooper_t51 {
    background: url('../img/cars/cooper_t51.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#ferrari_246_f1 {
    background: url('../img/cars/ferrari_246_f1.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#maserati_250f {
    background: url('../img/cars/maserati_250f.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#lancia_ferrari_d50 {
    background: url('../img/cars/lancia_ferrari_d50.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#mercedes_w196_2 {
    background: url('../img/cars/mercedes_w196_2.jpg') no-repeat center center;
    border-bottom: 3px dashed #afafaf;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#mercedes_w196_1 {
    background: url('../img/cars/mercedes_w196_1.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#ferrari_500_2 {
    background: url('../img/cars/ferrari_500_2.jpg') no-repeat center center;
    border-bottom: 3px dashed #971216;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#ferrari_500_1 {
    background: url('../img/cars/ferrari_500_1.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#alfa_romeo_159 {
    background: url('../img/cars/alfa_romeo_159.jpg') no-repeat center center;
    border-bottom: 3px dashed #8d141d;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

#alfa_romeo_158 {
    background: url('../img/cars/alfa_romeo_158.jpg') no-repeat center center;
    background-size: contain;
    height: 101%;
    overflow: hidden;
    position: relative;
}

.alfa_romeo {
    background: #aa1823;
}

.brabham {
    background: #263623;
}

.brm {
    background: #1d3a24;
}

.cooper {
    background: #25332d;
}

.ferrari {
    background: #c3181c;
}

.lotus {
    background: #1e3223;
}

.lotus_red {
    background: #aa002d;
}

.mercedes {
    background: #c1c5c9;
}

.maserati {
    background: #9f1923;
}

.matra {
    background: #349dc6;
}